@page
@model Rgis_V2.Pages.DodajanjePilota.CreatePilotcshtmlModel
@{
}

<h1>Dodajanje pilota</h1>

<form method="post">
    <label for="Ime">Ime:</label>
    <input type="text" id="Ime" name="Ime" required />

    <label for="Priimek">Priimek:</label>
    <input type="text" id="Priimek" name="Priimek" required />

    <label for="Starost">Starost:</label>
    <input type="number" id="Starost" name="Starost" required />

    <button type="submit">Dodaj</button>
</form>

