@page
@model Rgis_V2.Pages.Letala.CreateModel
@{
}
<h1>Dodajanje letala</h1>

<form method="post">
    <label for="Model">Model:</label>
    <input type="text" id="Model" name="Model" required />

    <label for="Kapaciteta">Kapaciteta:</label>
    <input type="number" id="Kapaciteta" name="Kapaciteta" required />

    <button type="submit">Dodaj</button>
</form>






